@tailwind base;
@tailwind components;
@tailwind utilities;

#navigation-buttons button {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* #region GENERAL WEBSITE STYLING */


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: white; */
}


body {
    /* background-image: linear-gradient(to bottom, #004d7a, #008793, #00bf72, #a8eb12); */
}

@media (max-width: 1000px) {

    body {
        background-size: 1000px 600px; /* Force the image to its minimum width */
    }

}

#website-background {
    background-image:
    linear-gradient(to bottom,
     #004d7a 10%,
     #008793 30%,
     #00bf72 60%,
     #a8eb12 90%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#website-background::after {
    /* The answer */
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 80%);

    /* Extra CSS */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/resources/assets/images/site/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }


#website-logo {
    background-image: url("/resources/assets/images/site/logo.png");
    /* border: 0px; */
    width: 90px;
    height: 44px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

img {
    border: 0px;
}

.download-icon {
    background-image: url("/resources/assets/images/site/download.jpg");
    height: 40px;
    width: 60px;
    background-size:contain;
    background-position: center;
}

/* #endregion */

/* #region NAVIGATION STYLING */

/* #endregion */

/* #region NEWS STYLING */

.small-news-image,
#latest-news-image {
    background-image: url("/resources/assets/images/news/news.jpg");
}

#latest-news-image {
    height: 180px;
    background-position: top;
    background-repeat: no-repeat;
}

.small-news-image {
    height: 64px;
    background-position: 122px;
    width: 64px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}

.news-body {
    display: -webkit-box;
    max-height: 100px;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* #endregion */
